.comment {
  display: flex;
  flex-flow: column;
  margin-bottom: 15px;

  &__header {
    margin-left: 10px;
    display: flex;
    flex-flow: row;
  }

  p {
    padding: 10px;
  }
}

.comment-title {
  font-size: 18px;
  font-weight: bold;
  margin-right: 10px;
}

.comment-date {
  color: #9b9b9bf4;
}

.comment-content {
  margin: 15px;
}

.comment-button {
  display: flex;
  justify-content: flex-end;
  flex: 1;
  text-align: right;
}
