.discussion-message {
  padding: 10px;
  display: flex;
  flex: 1;
  flex-flow: column;
  justify-content: space-between;

  &__header {
    margin-left: 10px;
    display: flex;
    flex-flow: row;
  }
}

.discussion-message-title {
  font-size: 18px;
  font-weight: bold;
  margin-right: 10px;
}

.discussion-message-date {
  color: #9b9b9bf4;
}

.discussion-message-content {
  margin: 10px;
}

.discussion-button {
  display: flex;
  justify-content: flex-end;
  flex: 1;
  text-align: right;
}
