$primary_color: #05386b;
$primary_color_highlight: #faf6f5;
$secondary_color: #8ee4e0;
$secondary_color_highlight: #23c4f8;
$secondary_color_highlight_2: #90f3e6;
$text_primary_color: #242323;
$text_secondary_color: #5c5959;
$primary_background_color: #f4f4f4;
$secondary_background_color: #373737;
$error_color: #ff5858;
$error_color_highlight: #fc6868;
$card_border_color: lightgray;
$card_shadow_color: #ccc;

$primary_font_family: "Montserrat";
